<app-angular-loader name="{{ getLoaderName() }}" show="true">
</app-angular-loader>
<div class="col-md-12" id="tab-custom">
  <my-tabs #staticTabs>
    <my-tab tabTitle="Journal List By Label Run Date Search" tabId="JournalList By Label RunDate">
      <div id="page-content111">
        <div class="row">
          <div class="col-md-12">
            <div class="panel ">
              <app-think-search-header headerCaption="Journal List By Label Run Date" [searchType]="getSearchType()" [baseComponent]="mySelf"></app-think-search-header>
              <div class="panel-body">
                <div class="row"> </div>
                <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid " #f="ngForm" ngNativeValidate>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-4 control-label" for="demo-hor-inputemail">Issue Date Range
                            <span class="mandatory"> *</span>
                          </label>
                          <div class="col-7">
                            <app-cz-date-picker [dataInput]="journalListModel"></app-cz-date-picker>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-4 col-form-label text-right" for="journalName">Product Name
                            <!-- <span class="text-muted"> </span> -->
                          </label>
                          <div class="col-7">
                            <app-data-drop-down [(ngModel)]="ngJournalName" #journalName name="journalName" id="journalName" [ddOptions]="ddOptionsJournalName">
                            </app-data-drop-down>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
              <app-think-search-footer [form]="f" (onSubmit)="onSubmit($event)" (onSaveSearch)="onSaveSearch($event)" (onReset)="doOnReset()"
                [baseComponent]="mySelf"></app-think-search-footer>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </my-tab>
  </my-tabs>
  <ng-template #JournalListByLabelRunDateList>
    <div class="col-md-12 nopadding">
      <div class="panel ">
        <app-think-list-header [headerName]="headerName" [tabsComponent]="tabsComponent"></app-think-list-header>
        <div class="panel-body">
          <app-think-list-display-search [displaySearchOptions]="displaySearchOptions" (onSearchClick)="doOnSearchClick($event)" #dispSearch></app-think-list-display-search>
          <div class="gridTable">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" #journalistbylabelrunDateData [class]="tableClass">
              </table>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
