<!-- <app-angular-loader name="{{ getLoaderName() }}" show="true"></app-angular-loader> -->
<div class="col-md-12" id="tab-custom">
  <div class="boxed">
    <div id="content-container">
      <div id="page-content111">
        <div class="row">
          <div class="col-md-12">
            <div class="panel ">

              <section class="content-header">
                &nbsp;&nbsp;
                <h1> &nbsp;&nbsp;FAQs
                  <a href="#" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="This Section allows to view all the System logs.">
                    <i style="font-size: 15px;" class="fa fa-info-circle"></i>
                  </a>
                </h1>
              </section>
              <div class="panel-body">
                <div class="row"></div>
                <div class="panel-body">
                  <div class="content">
                    <div id="page_content">

                      <div class="panel">
                        <div class="box-header with-border">
                          &nbsp;&nbsp;
                          <h3 class="box-title"> &nbsp;&nbsp;COUNTER</h3>
                        </div>
                        <hr>
                        <div class="box-body">
                          <div class="panel-group faqpage" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="faq1PanelId">
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faq1Id" aria-expanded="false" aria-controls="faq1Id"
                                    class="collapsed">
                                    <i class="fa fa-plus" id="fa" aria-hidden="true"></i>
                                    What is COUNTER and what does it stand for?
                                  </a>
                                </h4>
                              </div>

                              <div id="faq1Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq1PanelId" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">
                                  <p>
                                    COUNTER (
                                    <strong>C</strong>ounting
                                    <strong>O</strong>nline
                                    <strong>U</strong>sage of
                                    <strong>N</strong>e
                                    <strong>T</strong>worked
                                    <strong>E</strong>lectronic
                                    <strong>R</strong>esources) is an initiative formed by libraries and publishers to insure consistent
                                    usage in reporting. COUNTER also requires specific reports and definition of usage terms
                                    for COUNTER compliance. The COUNTER Codes of Practice provides a set of standards and
                                    protocols governing the recording and exchange of online usage data. To learn more about
                                    COUNTER, visit
                                    <a href="http://www.projectcounter.org/" target="_blank">www.projectcounter.org</a>
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel">
                        <div class="box-header with-border">
                          &nbsp;&nbsp;
                          <h3 class="box-title"> &nbsp;&nbsp;Login, Access &amp; Browser Requirements</h3>
                        </div>
                        <hr>
                        <div class="box-body">
                          <div class="panel-group faqpage" id="accordion" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="faq2PanelId">
                                <h4 class="panel-title">
                                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#faq2Id" aria-expanded="true" aria-controls="faq2Id">
                                    <i class="fa fa-plus" id="fa" aria-hidden="true"></i>
                                    What effect does using Mozilla Firefox instead of Internet Explorer have on the site?
                                  </a>
                                </h4>
                              </div>
                              <div id="faq2Id" class="panel-collapse collapse" role="tabpanel" aria-labelledby="faq2PanelId">
                                <div class="panel-body">
                                  <p>
                                    None. Users going through a proxy server will still have an IP address associated with the institution.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
