<app-angular-loader name="{{ getLoaderName() }}" show="true"></app-angular-loader>
<div class="col-md-12" id="tab-custom">
  <my-tabs #staticTabs>
    <my-tab tabTitle="Duplicate Credit Note Search" tabId="custSeach">
      <div class="boxed">
        <div id="content-container">
          <div id="page-content111">
            <div class="row">
              <div class="col-md-12">
                <div class="panel ">
                  <app-think-search-header headerCaption="Duplicate Credit Note " [searchType]="getSearchType()" [baseComponent]="mySelf"></app-think-search-header>
                  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid " #f="ngForm" ngNativeValidate>
                    <div class="panel-body">
                      <div class="row"></div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label text-right" for="creditNoteNo">Credit Note Number
                                <span class="mandatory"> *</span>
                              </label>
                              <div class="col-sm-8">
                                <input type="input" name="creditNoteNo" placeholder="" id="creditNoteNo" class="form-control" [(ngModel)]="duplicateCreditNoteSearchModel.creditNoteNo" #creditNoteNo="ngModel"
                                  required="required">
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label text-right" for="itemPrice">Show Item Price
                                <span class="text-muted"> </span>
                              </label>
                              <div class="col-sm-8">
                                <label class="custom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
                                  <input type="checkbox" name="itemPrice" placeholder="" id="itemPrice" class=" custom-control-input" [(ngModel)]="duplicateCreditNoteSearchModel.show_item_price"
                                    #itemPrice="ngModel" (change)="checkchange($event)">
                                  <span class="custom-control-indicator"></span>
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </div>
                    <app-think-search-footer [validState]="validState" [baseComponent]="mySelf" [form]="f" (onSubmit)="onSubmit($event)" (onSaveSearch)="onSaveSearch($event)" (onReset)="doOnReset()"></app-think-search-footer>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </my-tab>
  </my-tabs>
  <ng-template #duplicateCreditNoteSearchList>
    <div class="col-md-12 nopadding">
      <div class="panel ">
        <app-think-list-header [headerName]="headerName" [tabsComponent]="tabsComponent"></app-think-list-header>
        <div class="panel-body">
          <app-think-list-display-search [displaySearchOptions]="displaySearchOptions" (onSearchClick)="doOnSearchClick($event)" #dispSearch></app-think-list-display-search>

          <div>
            <button class="btn btn-dkblue printpdf" (click)="printInvoice()">
              <i class="fa fa-file-pdf-o" aria-hidden="true"> </i>PDF</button>
          </div>


          <div class="gridTable">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [class]="tableClass">
              </table>
            </div>
          </div>
          <br style="clear: both">
        </div>
      </div>
    </div>
  </ng-template>
</div>



<app-duplicate-credit-note-print-view [searchModel]="duplicateCreditNoteSearchModel" [data]="listData">

</app-duplicate-credit-note-print-view>
