<app-angular-loader name="{{ getLoaderName() }}" show="true"></app-angular-loader>
<div class="col-md-12" id="tab-custom">
  <my-tabs #staticTabs>
    <my-tab tabTitle="DECIR with Cancel Orders Search" tabId="custSeach">
      <div class="boxed">
        <div id="content-container">
          <div id="page-content111">
            <div class="row">
              <div class="col-md-12">
                <div class="panel ">
                  <app-think-search-header headerCaption="DECIR with Cancel Orders " [searchType]="getSearchType()" [baseComponent]="mySelf"></app-think-search-header>

                  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid " #f="ngForm" ngNativeValidate>
                    <div class="panel-body">
                      <div class="row"></div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="start_date">Order Date Range
                                <span class="mandatory"> *</span>
                              </label>
                              <div class="col-8">
                                <app-cz-date-picker [dataInput]="decirWithCancelOrdersSearchModel">
                                </app-cz-date-picker>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="oc_id">Product Name
                              </label>
                              <div class="col-8">
                                <app-data-drop-down [(ngModel)]=ngproduct_id #product name="product_id" id="product_id" [ddOptions]="ddOptionsPName">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="volumeYear"> Volume Year
                              </label>
                              <div class="col-8">
                                <app-data-drop-down [(ngModel)]=ngvolume_year #volumeYear name="volume_year" id="volume_year" [ddOptions]="ddOptionsVolYear">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="orderType"> Order Type
                              </label>
                              <div class="col-8">
                                <app-data-drop-down [(ngModel)]=ngorder_type #order_type name="order_type" id="order_type" [ddOptions]="ddOptionsOrderType"
                                  [ddTrigger]="ddTriggerOrderType">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="price_category_id">Price Category

                              </label>
                              <div class="col-8">
                                <app-data-drop-down [(ngModel)]=ngprice_category_id #price_category_id name="price_category_id" id="price_category_id" [ddOptions]="ddOptionsPCategory">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="sale_reps_id">Sales Rep.
                              </label>
                              <div class="col-8">
                                <app-data-drop-down [(ngModel)]=ngsales_representative #sale_reps_id name="sales_representative" id="sales_representative"
                                  [ddOptions]="ddOptionsSRep">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>
                    </div>
                    <app-think-search-footer [baseComponent]="mySelf" [form]="f" (onSubmit)="onSubmit($event)" (onSaveSearch)="onSaveSearch($event)"
                      (onReset)="doOnReset()"></app-think-search-footer>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </my-tab>
  </my-tabs>

  <ng-template #decirwithCancelOrdersList>
    <div class="col-md-12 nopadding">
      <div class="panel ">
        <app-think-list-header [headerName]="headerName" [tabsComponent]="tabsComponent"></app-think-list-header>
        <div class="panel-body">

          <app-think-list-display-search [displaySearchOptions]="displaySearchOptions" (onSearchClick)="doOnSearchClick($event)" #dispSearch></app-think-list-display-search>
          <div class="gridTable">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" [class]="tableClass">
              </table>
            </div>
          </div>
          <br style="clear: both">

        </div>
      </div>
    </div>
  </ng-template>
</div>
