<app-angular-loader name="{{ getLoaderName() }}" show="true"></app-angular-loader>
<div class="col-md-12" id="tab-custom">
  <my-tabs #staticTabs>
    <my-tab tabTitle="Active Source Code Search" tabId="activateSourceCodeSeach">
      <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
          <!--Page content start-->
          <!--===================================================-->
          <div id="page-content111">
            <div class="row">
              <div class="col-md-12">
                <div class="panel ">
                  <app-think-search-header headerCaption="Active Source Code" [searchType]="getSearchType()" [baseComponent]="mySelf"></app-think-search-header>
                  <form class="form-horizontal" name="form" (ngSubmit)="f.form.valid " #f="ngForm" novalidate>
                    <div class="panel-body">
                      <div class="row"></div>
                      <div class="panel-body">
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="cust_id">Date Range
                                <!-- <span class="mandatory"> *</span> -->
                              </label>
                              <div class="col-8">
                                <app-cz-date-picker [initBlank]="true" [dataInput]="activeSourceCodeModel"></app-cz-date-picker>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="sourceCode">Source Code
                                <span class="text-muted"> #</span>
                              </label>
                              <div class="col-8">
                                <input type="text" name="Source Code" placeholder="" id="sourceCode" class="form-control" [(ngModel)]="activeSourceCodeModel.sourceCode" #sourceCode="ngModel">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="format">Format
                                <!-- <span class="text-muted"> #</span> -->
                              </label>
                              <div class="col-8">
                                <app-data-drop-down #format name="format" id="format" [ddOptions]="ddOptionsFormat" [(ngModel)]="ngFormat"></app-data-drop-down>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="prod_title">Product Title
                                <!-- <span class="text-muted"> #</span> -->
                              </label>
                              <div class="col-8">
                                <app-data-drop-down #productTitle name="productTitle" id="productTitle" [ddOptions]="ddOptionsproductName" [(ngModel)]="ngProductTitle">
                                </app-data-drop-down>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group row">
                              <label class="col-4 col-form-label text-right" for="active">Active
                                <!-- <span class="text-muted"> #</span> -->
                              </label>
                              <div class="col-8">
                                <app-data-drop-down #active name="active" id="active" [ddOptions]="ddActiveSearch" [ddTrigger]="ddTriggerActive" [(ngModel)]="ngActiveSearch"></app-data-drop-down>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <app-think-search-footer [form]="f" (onSubmit)="onSubmit($event)" (onSaveSearch)="onSaveSearch($event)" (onReset)="doOnReset()" [baseComponent]="mySelf"></app-think-search-footer>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </my-tab>
  </my-tabs>
  <ng-template #activeSourceCodeList>
    <div class="col-md-12 nopadding">
      <div class="panel ">
        <app-think-list-header [headerName]="headerName" [tabsComponent]="tabsComponent"></app-think-list-header>
        <div class="panel-body">
          <app-think-list-display-search [displaySearchOptions]="displaySearchOptions" (onSearchClick)="doOnSearchClick($event)" #dispSearch></app-think-list-display-search>
          <div class="gridTable">
            <div class="table-responsive">
              <table datatable [dtOptions]="dtOptions" #activeSourceCodeListData [class]="tableClass">
              </table>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
